<div class="container-fluid text-center">
    <h4 class="mt-2">Saves your tasks</h4>
    <mat-divider></mat-divider>
    <div class="container-todo mt-3">
        <mat-card class="mat-elevation-z2">
            <mat-card-title class="title-color">Create your Task</mat-card-title>
            <div class="">
                <mat-form-field appearance="outline" color="warn" class="form-field-width">
                    <mat-label>Insert a new task</mat-label>
                    <input matInput #Input type="text" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="">
                <mat-form-field appearance="outline" color="warn" class="form-field-width">
                    <mat-label>Insert task description</mat-label>
                    <textarea matInput #TextArea rows="10"></textarea>
                </mat-form-field>
            </div>
            <div class="">
                <button mat-raised-button color="warn" class="btn-todo" (click)="onAddTask(Input, TextArea)">Add</button>
                <button mat-stroked-button color="warn"class="btn-todo" > Clear</button>
            </div>
        </mat-card>
    </div>
</div>
